<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="<%= assetPath('style.css') %>">

    <script type="text/javascript">    
        window.history.reload();
        function noBack() { 
             window.location.reload(); 
        }
    </script>

    <title>User Sign-In</title>    
</head>

<body style="text-align: center;" onpopstate="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">

    <!-- including header -->
    <%- include('_header'); %>

    <h1>Welcome to Book Search API</h1>
    <h2>First sign-in with google</h2>
    <p>
        <a href="/users/auth/google">
            <button id="sign-out-button"> Sign-In With Google </button>
        </a>
    </p>

</body>
</html>