form{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid violet;
    width: 70%;
    margin: auto;
}

.title-color{
    color: green;
}
.author-color{
    color: rgb(82, 43, 223);
}
.description-color{
    color: purple;
}

.color-red{
    color: red;
}


#result{
    width: 70%;
    margin: auto;
    text-align: center;
    /* border: 2px solid red; */
}

#result img{
    height: 250px;
    width: 200px;
}

p{
    padding-bottom: 10px;
    border-bottom: 2px solid violet;
}


#sign-out-button {
    background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 800% 400%;
    padding: 1em 2em;
    margin: 1rem;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
   
#sign-out-button:hover {
animation: gradient 3s infinite;
transform: scale(1.05);
}

#sign-out-button:active {
animation: gradient 3s infinite;
transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#header{
    width: 100%;
    text-align: center;
    background-color: violet;
}

#book_detail{
    width: 70%;
    margin: auto;
    text-align: center;
}

h2.description-color{
    text-align: justify;
}

#book_detail img{
    height: 350px;
    width: 300px; 
}



